/*
	styles applied to all pages regardless of theme
*/


* { /* disable highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Hide all steps by default: */
.page {
  display: none;
}

.progress {
	opacity: 0;
}
/*
h2 {
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
}*/

h5, h6 {
	margin-left: 10px;
}

.container {
	background-color: #f9f9f9;
	margin-bottom: 40px;
	padding-bottom: 15px;
	width: 85% !important;
}

body {
	background-color: #eee;
}

.section {
	/*padding-left: 30px;*/
}

.divider {
	margin-bottom: 30px;
}

.heading-divider {
	height:5px;
	background-color: #eee;
}

.heading {
	background-color: #26a69a; /* TODO: change w theme */
	color: #ffffff;
	box-shadow: 0 1px 1px -1px gray;
}

.heading > h3 {
	padding: 40px 25px 10px 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

form {
	margin: 25px;
}

.btn-floating {
	position: absolute;
    right: 16%;
    margin-top: -30px;
}

h5 > span {
	/* TODO: change w theme */
	color: #26a69a;
	margin-right: 15px;
}

