/*
	styles applied to all pages regardless of theme
*/


/* Hide all steps by default: */
.page {
  display: none;
}

.progress {
	opacity: 0;
}
/*
h2 {
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
}*/

h5 {
	margin-left: 10px;
}

.container {
	background-color: #f9f9f9;
	padding: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
}

body {
	background-color: #eee;
}

.section {
	/*padding-left: 30px;*/
}

.divider {
	margin-bottom: 30px;
}

.heading-divider {
	height:5px;
	background-color: #eee;
}