/*
	styles applied to all pages regardless of theme
*/


* { /* disable highlighting */
  /*-webkit-touch-callout: none; */
    /*-webkit-user-select: none; */
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
                               
}

/* Hide all steps by default: */
.page {
  display: none;
}

.validating-message {
	opacity: 0;
	margin-left: 25px !important;
}
/*
h2 {
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
}*/

h5 {
	margin-left: 10px;
}

.container {
	background-color: #f9f9f9;
	padding-bottom: 15px;
}

body {
	background-color: #eee;
}

.section {
	/*padding-left: 30px;*/
}

.divider {
	margin-bottom: 30px;
}

.heading-divider {
	height:5px;
	background-color: #eee;
}

.heading {
	background-color: #26a69a; /* TODO: change w theme */
	color: #ffffff;
	box-shadow: 0 1px 1px -1px gray;
}

.heading > h3 {
	padding: 40px 25px 10px 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

form {
	margin: 25px;
}

.btn-floating {
	    position: relative;
    top: 20%;
    margin-bottom: -30px;

    left: 85%;
}

@media only screen and (max-width: 600px) {
    .btn-floating {
        left: 75%;
    }
}

@media only screen and (min-width: 601px) {
    .btn-floating {
        left: 85%;
    }
}


h5 > span {
	color: #26a69a;
	margin-right: 15px;
}

#email ~ .helper-text {
	opacity: 0;
}

#email.invalid ~ .helper-text {
	opacity:1;
}

.errorMessage {
	display: none;
	font-size: 16px;
}

#captcha-button {
	margin-left: 10px;
}

@media only screen and (max-width: 415px) {
   .container {
		width: 100% !important;
		margin-top: -30px;
	}

	#mainForm {
		margin-bottom: 100px;
	}
}

@media only screen and (min-width: 416px) {
	.container {
		width: 85% !important;
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 348px) {
	#page1 {
		margin-left: -15px;
	}
}

@media only screen and (max-width: 336px) {
	#captcha-button {
		margin-left: 8px;
	}
}

.preloader-wrapper {
	position: absolute;
	left: 50%;
	top: 25%;
	margin-left: -42px;
	z-index: -1;
}

.loading-wrapper {
	display: none;
	background-color: #eee;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}