/*

Theme Two: indigo and pink

Indigo: #3f51b5
Pink: #ff4081

*/

$spinner-default-color: #3f51b5;

@import 'materialize';

.heading, #nextBtn {
	@extend .indigo;
}

label:not(.email-label) {
	@extend .indigo-text;
}

span.helper-text {
	@extend .pink-text, .text-accent-2;
}

#email:focus, input.select-dropdown:focus {
	border-bottom-color: #3f51b5 !important; 
	box-shadow: 0 1px 0 0 #3f51b5 !important; ;
}

#email.invalid, input.select-dropdown.invalid {
	border-bottom-color: #ff4081 !important; 
	box-shadow: 0 1px 0 0 #ff4081 !important;	
}

#email.valid, input.select-dropdown.valid {
	border-bottom-color: #3f51b5 !important; 
	box-shadow: 0 1px 0 0 #3f51b5 !important;	
}


.email-label.active {
	color: #3f51b5 !important;
}

ul.select-dropdown > li:not(.disabled) > span {
	@extend .indigo-text;
}

#computer-button {
	@extend .pink, .accent-2;
}

h5 > span {
	@extend .pink-text, .text-accent-2;
}

[type="checkbox"]:checked + span:not(.lever)::before {
	border-right: 2px solid #ff4081;
	border-bottom: 2px solid #ff4081;
}

.errorMessage {
	@extend .pink-text;	
}
