/*

Theme One: teal and red

Teal: #26a69a
Red: #F44336

*/

$spinner-default-color: #26a69a;

@import 'materialize';

#computer-button {
	@extend .red;
}

span.helper-text {
	@extend .red-text;
}

.errorMessage {
	@extend .red-text;	
}
